.news{
  height: 540px ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //border: 1px solid wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

